MYSQL_ROOT_PASSWORD=Drimish@123
MYSQL_DATABASE=skyrush
MYSQL_USER=skyrush
MYSQL_PASSWORD=Drimish@123
JWT_SECRET=ngrtVJASaWNz5Ywi3nZY6VfVSKhrQlH2JcgYKifwdMrMJ6RCy3y/tE5UvqHAFm6/eoiEo73xthL9ZJPtArd91g==
JWT_ACCESS_TTL_MINUTES=15
JWT_REFRESH_TTL_DAYS=7
FRONTEND_ORIGIN=http://localhost:5173
